.top-poster{
    height: 320px;
    background: url(../image/banner-top.jpg) no-repeat center center;
    position: relative;
}
.top-poster-text{
    width: 1200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-600px,-50%);
    color: #d6e7ff;
    font-size: 24px;
    line-height: 1.5;
}
.top-poster-text1{
    font-size: 36px;
    color: #fff;
}
main{
    width: 1200px;
    height: 1624px;
    margin:0 auto;
}