.main-content{
    text-align: center;
    
}
.main-content h4{
    color: #84a8ee;
    font-size: 25px;
    text-align: center;
    font-weight: normal;
}
.main-content p{
    text-align: left;
}
.main-content img{
    margin:20px 0;
}
main{
    height: 1500px;
}