
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #000;
}
ul,li{
    list-style: none;
}
header{
    width: 1200px;
    height: 75px;
    line-height: 57px;
    padding-top: 18px;
    margin:0 auto;
    position: relative;
}
header .logo{
    float: left;
}
header ul{
    float: right;
}
header ul li{
    float: left;
    margin-right: 40px;
    font-size: 17px;
    color:#666;
    font-weight: 700;
}
header ul .search{
    margin-right: 0;
}
header ul li a{
    color: #666;
    width: 100%;
    height: 100%;
    display: inline-block;
}
header ul .search img{
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
header .search-part{
    width: 320px;
    height: 35px;
    position: absolute;
    background: #fff;
    right: 0;
    top: 93px;
    overflow: hidden;
    padding: 12px 15px;
    border-radius: 5px;
    z-index: 999;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.1);
    transition: all 1s ease;
    opacity: 0;
}
header .search-part input{
    width: 278px;
    height: 35px;
    line-height: 35px;
    border: solid 1px #ddd;
    border-radius: 5px;
    padding: 0 0 0 10px;
    float: left;
    outline:none;
}
header .search-part img{
    width: 22px;
    float: right;
    margin: 5px 0 0 0;
}
footer{
    height: 465px;
    width: 100%;
    text-align: center;
    background: #2c2d2c;
    color: #fff;
}
.footer-top{
    height: 420px;
    text-align: left;
}
.footer-bottom{
    height: 45px;
    line-height: 45px;
    background: #262626;
}
.footer-top-inner{
    width: 1200px;
    height: 260px;
    margin: 0 auto;
    padding-top: 80px;
}
.footer-left{
    width: 30%;
    float: left;
    margin-right: 50px;
}
.footer-fx{
    padding: 80px 0 25px;
}
.footer-fx img{
    width: 36px;
    height: 36px;
    margin-right: 10px;
}
.footer-beian span{
    display: block;
    line-height: 25px;
    font-size: 14px;
}
.footer-middle{
    width: 42%;
    float: left;
}
.footer-middle-title{
    font-size: 20px;
    padding: 0 0 25px 10%;
    height: 36px;
    line-height: 36px;
}
.footer-middle-content{
    height: 190px;
    border-left: solid 1px #565756;
    border-right: solid 1px #565756;
    line-height: 3;
    padding: 2% 10% 0 10%;
}
.footer-middle-content span{
    display: block;
}
.footer-right{
    float: right;
    width: 20%;
}
.footer-right-title{
    font-size: 20px;
    padding: 0 0 25px 22%;
    height: 36px;
    line-height: 36px;
}
.footer-right a{
    color: #fff;
}
.footer-right-content a{
    width: 28%;
    float: left;
    margin: 0 0 0 22%;
    height: 48px;
    line-height: 48px;
}.banner{
    height: 432px;
    min-width: 12rem;
    background: #88f;
}
main{
    text-align: center;
}
.title{
    padding: 70px 0 50px 0;
    text-align: center;
}
.title h3{
    font-weight: normal;
    font-size: 35px;
    color: #444;
}
.title span{
    font-size: 16px;
    color:#848484;
    height: 24px;
    line-height: 24px;
}
/* 关于铭辉开始 */
.about-content{
    margin-bottom: 30px;
}
.about-content li{
    margin:0 1%;
    width: 214px;
    height: 268px;
    display: inline-block;
    background: url(../image/a1.png) no-repeat center center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}
.about-content-mask{
    background: #fff;
    width: 100%;
    height: 100%;
    position:absolute;
    left:0;top:0;transition: all 0.5s
}
.about-list li:hover .about-content-mask{
    opacity: 0;
}
.about-pic{
    background: url(../image/a1.png) no-repeat center center;
    width: 168px;
    height: 168px;
    border-radius: 50%;
    border: solid 1px #fff;
    position: absolute;
    top:30px;
    left: 23px;
}
.about-content ul li span{
    position: absolute;
    width: 100%;
    display: block;
    top:218px;
    font-weight: 400;
}
.about-pic-title{
    color:#fff;
    font-size: 20px;
}
.about-pic img{
    margin-top:30px;
}
/* 关于我们结束 */
/* 我们的服务开始 */
.service-swiper{
    height: 365px;
    min-width: 1200px;
    position: relative;
}
.service-left{
    width: 57px;
    height: 65px;
    background: url("../image/icon8.png") no-repeat;
    position: absolute;
    top:182.5px;
    margin-top:-28.5px;
    left:0;
}
.service-right{
    width: 57px;
    height: 65px;
    background: url("../image/icon9.png") no-repeat;
    position: absolute;
    top:182.5px;
    margin-top:-28.5px;
    right:0;
}
.service-all{
    font-size: 20px;
    width: 260px;
    height: 58px;
    line-height: 58px;
    border-radius: 29px;
    display: block;
    background: #84a8ee;
    color: #fff;
    text-align: center;
    margin:50px auto 80px;
}
/* 我们的服务结束 */
/* 成功案例开始 */
.case{
    height: 1219px;
    background: url("../image/bg1.jpg") no-repeat center top;
}
.case-content{
    width: 1200px;
    height: 840px;
    margin:0 auto;
}
.case-list li{
    width: 332px;
    float: left;
    margin: 0 36px 36px 0;
    background: #fff;
    padding:21px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
}
.case-list li:nth-child(3n) {
    margin: 0 0 36px 0;
}
.case-list li a{
    width: 100%;
    height: 100%;
}
.case-list li a img{
    width: 332px;
}
.case-list li .case-list-title{
    padding: 0 100px 0 0;
    color: #666666;
    font-size: 18px;
    line-height: 27px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 30px 0 0 0;
    position: relative;
    text-align: left;
}
.case-list-title span{
    width: 90px;
    height: 27px;
    line-height: 25px;
    border: solid 1px #dddddd;
    color: #999999;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    border-radius:14px;
    text-transform: uppercase;
}
.case-list li a:hover .case-list-title span{
    background-color: #84a8ee;
    color: #fff;
}
.case-list-line{
    width: 50px;
    height: 1px;
    background: #959394;
    margin: 10px 1.8%;
}
.case-list-text{
    color: #999999;
    line-height: 25px;
    height: 50px;
    overflow: hidden;
    font-size: 14px;
    text-align: left;
}
.case-all{
    font-size: 20px;
    width: 260px;
    height:58px;
    line-height: 58px;
    border-radius: 29px;
    display: block;
    background: #84a8ee!important;
    color: #fff;
    text-align: center;
    margin:50px auto 80px;
}
/* 成功案例结束 */
/* 合作伙伴开始 */
.coop-list{
    margin:0 auto;
    width: 1200px;
    padding-bottom: 95px;
    height: 182px;
}
.coop-list li{
    width: 298px;
    height: 0;
    float: left;
    margin: -1px 0 0 -1px;
    border: solid 1px #eeeeee;
    padding: 0 0 90px 0;
    text-align: center;
    position: relative;
}
.coop-list li a{
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
/* 合作伙伴结束 */
.poster{
    height: 200px;
    background: url(../image/bg2.jpg) no-repeat center center;
    text-align: center;
    position: relative;
}
.ad-text {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.ad-text1 {
    color: #fff;
    font-size: 30px;
    height: 53px;
}
.ad-text2 {
    color: #94bffa;
    font-size: 16px;
}
/* 新闻中心开始 */
.news-list{
    padding:0 0 0.75rem 0;
    margin:0 auto;
    width: 1200px;
    height: 417px;
}

.news-list li{
    width:31.66%;float:left;margin:0 30px 30px 0;
}

.news-list li:nth-child(3n){
    margin-right:0;
}

.news-list li a{
    display:block;
}

.news-list li a img{
    width: 379px;
    height: 190px;
}

.news-over{
    border-bottom:solid 1px #dddddd;
    padding:20px 0 30px 0;
    height: 72px;
}

.news-l{
    width:84px;
    height:70px;
    float:left;
    border:solid 1px #dddddd;
    padding:10px 0 0 3.5%;
    color:#999999;
    font-size:16px;
    line-height:1.2;
}

.news-l-text{
    color:#999999;
    font-size:24px;
}

.news-r{
    width:266px;
    float:right;
}

.news-r-title{
    color:#444444;
    font-size:18px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    line-height:1.2;
    margin:0 0 10px 0;
}

.news-r-context{
    color:#999999;
    line-height:20px;
    height:40px;
    overflow:hidden;
    font-size: 14px;
}

.news-list li a:hover .news-over{
    border-bottom:solid 1px #84a8ee;
}

.news-list li a:hover .news-r-title{
    color:#84a8ee;
}


/* 新闻中心结束 */